<h1>Album</h1>
<h2>{{this.name}}</h2>
<h3>{{this.release_date}}</h3>
<form action="/submit-review">
  <label for="review">Review</label><br>
  <input type="text" id="review" name="review" value="Leave a review...">
  <button>Submit</button>
</form>