 <div class="text-start1">
      
      <div class="card-body">
        <h4 class="card-SubTitle">Recently Reviewed Albums:</h4>
        <section class="container1">
        <div class="card-deck">
          {{!-- {{#each album}} --}}
          {{!-- {{album.name}} --}}
            {{!-- {{/each}} --}}
          {{#each reviews}}
          <ul class=" card ">
            <h5 class="card-title2" id="artistName">Artist name goes here</h5>
            <div class="card-body">
              <img src="..." class="card-img-top" alt="Album cover will go here">
              <p class="card-text" id="albumName">{{album.name}}</p>
            </div>
            <div class="card-footer">
              <p class="reviewbtn" id="review"> Review: {{review}} </p>
            </div>
          </ul>
          {{/each}}
        </div>