<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Profile</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/public/css/style.css" />
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<body>
    <div class="card text-start">
        <div class="card-body">
          <h4 class="card-title">MusicBoxd</h4>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
            <div class="btn-group" role="group" aria-label="Button Group"></div>
                  <button type="button" id="btn-primary">Sign In</button>
                  <button type="button" id="btn-primary">Create Account</button>
                  <button type="button" id="btn-primary">Button</button>
                  <form action="/search-results">
                  <input name="q" type="text" placeholder="Search..." id="searchBox">
                  <button id="searchButton">Search</button>
                </form>
              </div>
      </div>
      <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="user profile pic">
            <div class="card-body">
              <h5 class="card-title">User name goes here</h5>
              <p class="card-text"> Maybe user can put in a small about me here ??</p>
              <a href="#" class="btn btn-primary" id="writeReview"> Write a review </a>
            </div>
          </div>
      </section>
      <div class="conatinerr">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="album image will display here">
            <div class="card-body">
              <p class="card-text">User can see their review here </p>
            </div>
          </div>
      </div>
</body>
<script src="./public/js/profile.js"></script>
</html>