<div>
    <h1>Profile</h1>
</div>
  <script src="./public/js/profile.js"></script>
</body>

</html>
{{!-- This is a skeleton of what the profile page will be, so that I can work on getting the login and sign up working --}}