    </div>
      <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="public/images/blankman.jpg" alt="user profile pic">
            <div class="card-body">
              <h5 class="card-title">Welcome, {{userData.name}}!</h5>
              <a href="#" class="btn btn-primary" id="writeReview"> Write a review </a>
            </div>
          </div>
      </section>
     
      </div>
</body>

<script src="/public/js/profile.js"></script>
