 {{!-- <link rel="stylesheet" href="/css/style.css" /> --}}
<div class="row d-flex align-items-center flex-column"  >
  <div class="col-auto">
    <h2 class="profileFonts">Welcome!</h2>
  </div>
</div>

<div class="row mt-4" >

  <div class="d-flex align-items-center flex-column" style="height: 200px;">
    <h3 class="profileFonts">Create a New Review:</h3>
    <form class="form new-review-form">
      <div class="mt-auto p-2">
        <label for="review-name" class="profileFonts">review title:</label>
        <input class="form-input" type="text" id="review-name" name="review-name" />
      </div>
      <div class="mt-auto p-2">
        <label for="review-rating" class="profileFonts">Rating: (1-10)</label>
        <input class="form-input" type="number" id="review-rating" name="review-rating" />
      </div>
      <div class="mt-auto p-2">
        <label for="review-desc" class="profileFonts">description:</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="p-2">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
  </div>

  {{#if reviews.length}}
  <div class="d-flex align-items-center flex-column" style="height: 200px;"></div>
  <div class="col-md-6 review-list">
    <h3 class="profileFonts">Current Reviews:</h3>

    {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/review/{{review.id}}">{{review.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>
<script src="/js/profile.js"></script>
