:root{
    background-color: #4A4A4A;;
}
#btn-primary{
    color: orange;
    position: relative;
    bottom: 80px;
    left: 500px;
   }
.card-title{
    color: #323332;
    background-color: #4A4A4A;
    padding: 40px;
}
.card text-start{
    color:#323332;
    background-color: #4A4A4A;
}
.btn-toolbar{
background-color: #4A4A4A;
left: 50px;
bottom: 80px;
color: #000000;
}

.btn{
    background-color: #4A4A4A;
    position: relative;
}
.card text-start1{
    position: center;
}
.card-body{
    background-color: #4A4A4A;
}