:root{
    background-color: rgb(62, 62, 62) ;;
}

#mb{
    font-size: 50px;
}

#homeBtn {
    display: flex;
    color: #d8ffd3;
    position: relative;
    bottom: 85px;
    left: 65%;
    background-color:transparent;
    border: transparent;
    font-size: 20px;
}
#btn-primary{
    display: flex;
    color: #64adc4 ;
    position: relative;
    bottom: 85px;
    left: 500px;
    background-color:transparent;
    border: transparent;
    font-size: 30px;
   }
.AccountBtn{
    display: flex;
    color:#d8ffd3;
    position: relative;
    bottom: 85px;
    left: 75%;
    background-color:transparent;
    border: 20%;
    font-size: 20px;
    
   }
.card-title{
    color: #d8ffd3;
    background-color: #8fdbc5;
    padding: 40px;
    font-size: 30px;
    
}

.card-title2{
    color: #d8ffd3;
    background-color: #8fdbc5;
    padding: 20px;
    font-size: 25px;
    
}

.mbTitle{
    font-family: 'amagro';
    font-size: 36px;
    color: #d8ffd3;
    
}
.card-SubTitle{
    color:rgb(62, 62, 62) ;
    background-color: #8fdbc5 ;
    padding: 40px;
    font-size: 25px;
    
}
.card {
    color:#323332;
    background-color: #64adc4;
    border: #000000;
    border-radius: 20%;
}
.btn-toolbar{
background-color: rgb(62, 62, 62);
left: 50px;
bottom: 80px;
}

.btn{
    background-color:#d8ffd3;
    position: relative;
    color: rgb(62, 62, 62);
}
.card text-start1{
    position: center;
}
.card-body{
    background-color: rgb(62, 62, 62);
}

#searchButton{
    background-color: #d8ffd3;
    position: relative;
    bottom: 80px;
    left: 100%;
    border: 1px solid black;  
}

#searchBox{
    background-color:white;
    position: relative;
    bottom: 80px;
    left: 100%;
}

.card-deck {
    display: flex;
}

.containerr {
    top: 800px;
    left: 300px;
}
.profile-pic-div{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1 solid black;
}
#fileUpload{
display: none;
}
#photo{
    height: 100px;
    width: 100px;
}
#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(red, green, blue, alpha);
    color:wheat;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

#profileBack {
    background-color: lightgrey;
}

.profileFonts {
    font-family: 'amagro';
    color: rgb(62, 62, 62);
}

.albumFonts {
    font-family: 'amagro';
    color: rgb(62, 62, 62);
}
.gap-40 {
    gap: 40px;
}

.mw-300{
    max-width: 300px;
}

.mb-50{
    margin-bottom: 50px;
}